*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header, footer{
    text-align: center;
    padding: 20px;
    background-color: crimson;
    color: floralwhite;
}
.header_navs{
    background-color: goldenrod;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}
.main_title{
    padding: 0 15px;
    font-family: 'Righteous', cursive;
    font-size: larger;
    color: floralwhite;
}
h1{
    font-weight: bold;
    font-size: 3.5em;
}
p{
    padding: 0 15px;
}
h2{
    padding: 20px 30px;
}
h4{
    padding: 10px;
}
a{
    color: floralwhite;
}
a:hover{
    background-color: rgb(245, 213, 117);
    color: darkred;
    padding: 8px;
    transition: .5s;
}
ul{
    list-style-position: inside;
}

table, td, th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td, th{
    padding: 5px 15px;
}
.to_the_side{
    float: left;
    padding: 0 20px;
}
figcaption{
    font-size: 11px;
    padding: 3px 0 8px 0;
}
.i_frames{
    text-decoration: underline;
    font-weight: bold;
    margin: 18px;
}
form, textarea{
    margin-left: 30px;
}
form ul{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: floralwhite;
    margin-right: 20px;
    list-style-type: none;
    
}
input[type=text], input[type=number], input[type=email], input[type=password], input[type=textarea], input[type=date]{
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;
}
select{
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 0 0px 20px;
}
input[type=submit], input[type=reset]{
    background-color: goldenrod;
    color: honeydew;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.form_buttons{
    margin: 20px 0 20px 25px;
    display: block;
}

footer span{
    text-decoration: none;
    font-size: x-large;
    margin: 0 25px;
}
.copyright{
    font-size: 0.7em; 
    margin-top: 1em;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;     
}
